@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
    background-color: aqua;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

.navbar{
    max-width: 1024px;
    background-color: blue;
    margin: auto;
    height: 52px;
    color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}